.container {
    display: flex;
    gap: 20px;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item {
    padding: 15px;
    background: #eee;
    border-radius: 6px;
    transition: 0.3s;
}

.item:hover {
    background: pink;
    transform: scale(1.05);
    cursor: pointer;
}
