.board {
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
    border: 4px solid #333;
    margin: 20px;
    gap: 1px;              
    background: #333;       
}

.square {
    width: 50px;
    height: 50px;
}
.white { background: #f0d9b5; }
.black { background: #b58863; }
