.btn:hover{
    color:blue;
}

input:focus{
    background-color: yellow;
}

input:required{
    background-color: red;
}


P::first-line{
    font: size 120%;
    font-weight: bold;
}


input[type="checkbox"]:checked {
    outline: 2px solid red;
    outline-offset: 2px;

}
